<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
	<connectionStrings>
  <add name="WindowsFormsApp1.Properties.Settings.TestConnectionString" connectionString="Data Source=192.168.88.249;Initial Catalog=Test;Persist Security Info=True;User ID=AlexNout;Password=AlexNout;" providerName="System.Data.SqlClient"/>
  <add name="WindowsFormsApp1.Properties.Settings.ConnectionStringTest" connectionString="Dsn=TEST.DBF;dbq=D:\АЛЕКСЕЙ\C#\REPOS2\WINDOWSFORMSAPP1\WINDOWSFORMSAPP1\BIN\DEBUG;defaultdir=D:\АЛЕКСЕЙ\C#\REPOS2\WINDOWSFORMSAPP1\WINDOWSFORMSAPP1\BIN\DEBUG;driverid=533;fil=dBase 5.0;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc"/>
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
